<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884729725072-8mangs8t6vjeri4ebn0psdr6e07s0gf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884729725072-8mangs8t6vjeri4ebn0psdr6e07s0gf0</string>
	<key>API_KEY</key>
	<string>AIzaSyBQmTbzuA4ga6Mrfm0sIlG4Q-ag1f92nsU</string>
	<key>GCM_SENDER_ID</key>
	<string>884729725072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.zaki.mynotes2</string>
	<key>PROJECT_ID</key>
	<string>mynotes2-flutter-zaki</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes2-flutter-zaki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884729725072:ios:923d84a11ea3aaaf881815</string>
</dict>
</plist>